
// Primary colors

$light-grey: #EEEEEE;
$off-white: #FAF8F9;
$primary-text: #323232;
$primary-CTA: #96bf48;
$silver: #AFAFAF;
$white: #FFFFFF;

//Secondary colors

$hover-CTA: #78993a;                 
$mercury: #E1E1E1;
$alabaster: #FAFAFA;