@font-face {
  font-family: 'SF Pro';
  src: url('../../assets/fonts/SFProDisplay-Regular.eot');
  src: url('../../assets/fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/SFProDisplay-Regular.woff2') format('woff2'),
      url('../../assets/fonts/SFProDisplay-Regular.woff') format('woff'),
      url('../../assets/fonts/SFProDisplay-Regular.ttf') format('truetype'),
      url('../../assets/fonts/SFProDisplay-Regular.svg#../../assets/fonts/SFProDisplay-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro';
  src: url('../../assets/fonts/SFProDisplay-Medium.eot');
  src: url('../../assets/fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/SFProDisplay-Medium.woff2') format('woff2'),
      url('../../assets/fonts/SFProDisplay-Medium.woff') format('woff'),
      url('../../assets/fonts/SFProDisplay-Medium.ttf') format('truetype'),
      url('../../assets/fonts/SFProDisplay-Medium.svg#../../assets/fonts/SFProDisplay-Medium') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro';
  src: url('../../assets/fonts/SFProDisplay-Bold.eot');
  src: url('../../assets/fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/SFProDisplay-Bold.woff2') format('woff2'),
      url('../../assets/fonts/SFProDisplay-Bold.woff') format('woff'),
      url('../../assets/fonts/SFProDisplay-Bold.ttf') format('truetype'),
      url('../../assets/fonts/SFProDisplay-Bold.svg#../../assets/fonts/SFProDisplay-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

