@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;

.page-header {
  height: 8rem;
  background-color: $light-grey;
  width: 100%;
  &__wrapper {

  }
}